body {
  background-color: #ccc8c8;
}
.list-group-item.active {
  background-color: #ff8501; /* Cambia el color de fondo a tu preferencia */
  color: #ffffff; /* Cambia el color del texto a tu preferencia */
  border-color: black;
}
