<h2>Paginas</h2>
<hr />
<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    Home Page
  </li>

  <li
    routerLink="pages/categorias"
    routerLinkActive="active"
    class="list-group-item"
  >
    Categorias
  </li>

  <li
    routerLink="pages/productos"
    routerLinkActive="active"
    class="list-group-item"
  >
    Productos
  </li>

  <li
    routerLink="pages/pedidos"
    routerLinkActive="active"
    class="list-group-item"
  >
    Pedidos
  </li>

  <li
    routerLink="pages/clientes"
    routerLinkActive="active"
    class="list-group-item"
  >
    Clientes
  </li>
</ul>
