<div class="text-center mt-4" style="color: white;">
  <h2>Tienda</h2>
</div>

<hr />
<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    presentacion
  </li>

  <li
    routerLink="pages/categorias"
    routerLinkActive="active"
    class="list-group-item"
  >
    Categorias
  </li>

  <li
    routerLink="pages/productos"
    routerLinkActive="active"
    class="list-group-item"
  >
    Productos
  </li>

  <li
    routerLink="pages/pedidos"
    routerLinkActive="active"
    class="list-group-item"
  >
    Pedidos
  </li>

  <li
    routerLink="pages/clientes"
    routerLinkActive="active"
    class="list-group-item"
  >
    Clientes
  </li>
</ul>
